<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <!--font awesome cdn-->
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" 
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
    crossorigin="anonymous"></script>

    <!--sources for datepicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#datepicker" ).datepicker();
    } );
    </script>

    <!--css stylesheet for this file-->
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <!--todo list container-->
    <div id="todo-list-container">

        <!--heading-->
        <header id="todo-list-heading">
            <!--progress bar for all the steps for creating a task-->
            <div class="progress-bar-container">
                
                <!--background boxes of the bar-->
                <div class="progress-bar-bg">
                    <!--progress-bar-filler class is used to fill the boxes-->
                    <div class="progress-bar-filler" style="width: 100%;"></div>
                </div>
                <div class="progress-bar-bg">
                    <div class="progress-bar-filler"></div>
                </div>
                
            </div>
        </header>

        <main>

            <!--div for all the neccessary steps to create a task and to display 
                tasks. this is scrollable through js-->
                <div id="todo-list">
                    <!--div for the home part which will contain the tasks and if there 
                        isnt any task then some message will be displayed-->
                    <div id="task-container">
                        <% if(tasks.length == 0){ %>
                                <!--this is wil be showed if there isnt any tasks-->
                                <div id="no-tasks">
                                    <!--message if there is no tasks-->
                                    <div class="no-tasks-msg">
                                        <p>You don't have any tasks. Create one by clicking on the 'Create Task' button</p>
                                    </div>
                                    <button id="create-new-task-btn">Create Task</button>
                                </div>
                        <% }else{ %>
                                <!--this will be showed if there are existing tasks in the database-->
                                <div id="tasks-display-container">
                                    <!--this will contain all the tasks and this is a form because a 
                                        checkbox is to be added which is supposed to be used to delete 
                                        a task-->
                                    <form action="/delete-task" method="GET" id="tasks-list-form">
                                        <% for(let task of tasks){ %> 
                                            <!--individual tasks-->
                                            <div class="task">
                                                <input type="checkbox" name="delete" id="<%= task.id %>" value="<%= task.id %>">
                                                
                                                <!--the label contains the task description, date, category, etc-->
                                                <label for="<%= task.id %>" > 
                                                    <!--custom checkbox-->
                                                    <span  class="checkbox"></span>
                                                    <!--task description and date container-->
                                                    <div class="task-desciption-date-container">
                                                        <p class="task-description"><%= task.description %></p>
                                                        <p class="task-date"><i class="far fa-calendar-alt"></i>&ensp;<%= task.date %></p>
                                                    </div>
                                                    <!--task container-->
                                                    <div class="task-category">
                                                        <p><%= task.category %></p>
                                                    </div>
                                                </label>
                                            </div>
                                        <% } %> 
                                        </form>
                                        <!--task add and delete button-->
                                        <div id="add-delete-task-btns-container">
                                            <button id="add-task-btn"><i class="fas fa-plus"></i>&ensp;Add Task</button>
                                            <button id="delete-task-btn" style><i class="fas fa-trash-alt"></i>&ensp;Delete Task</button>
                                        </div>
                                </div>
                            <% } %>  

                    </div>


                    <!--this contains the next tab which is a form to create a task-->
                    <div id="create-task-container">

                        <form action="/create-task" method="POST" id="task-form">
                            
                            <!--description-->
                            <input type="text" id="description" name ="description" class="form-input" placeholder="Description" required>
                            
                            <!--Category and date-->
                            <div id="category-date-container">
                                <!--category-->
                                <select id="category" name="category" class="form-input" required>
                                    <option value="" selected disabled hidden style="color:rgb(158, 154, 154);">Category</option>
                                    <option value="personal">Personal</option>
                                    <option value="work">Work</option>
                                    <option value="school">School</option>
                                    <option value="other">Other</option>
                                </select>
                                <!--date using JQuery UI-->
                                <input type="text" id="datepicker" class="form-input" name="date" placeholder="mm/dd/yyyy" required>

                            </div>
                            
                        </form>

                    </div>

                </div>
        </main>

        <footer>
            <!--backward buttons-->
            <div id="backward-btn-container">
                <button id="backward-btn" style="color: rgb(126, 125, 125);"><i class="fas fa-arrow-left"></i></button>
            </div>

            <button id="add-task">Add Task</button>
        </footer>
    </div>
    
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>